# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
db.sqlite3
.env

# Virtual Environment
venv/
env/

# Docker
docker-compose.override.yml
docker-compose.override.yml.sample
.docker/

# Editor/IDE
.vscode/
.idea/

# Local development files
# *.local
